<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLxXcUJC21KAmxyBaERlh7q6iZTAM0fh8</string>
	<key>GCM_SENDER_ID</key>
	<string>38127889544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRpg</string>
	<key>PROJECT_ID</key>
	<string>flutter-rpg-707ff</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-rpg-707ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38127889544:ios:fb62be82e0299ff8fe833d</string>
</dict>
</plist>